# User-specific files
*.editorconfig
*.user
*.vs
*.vscode
*.github

# Package Managers
node_modules
npm-debug.log

# Build Artifacts
*.lock.json
*-lock.json
*.backup
*.cache
*.tgz
.jest

# Source Code
test
