@use '@sass-fairy/break' with (
	$vertical-sizes: (
		x-small: 0,
		medium: 680px,
		large: 960px,
		x-large: 1200px
	)
);

body.annotate-example-v2 {
	@include break.annotate($position: 'bottom left', $size: 14px) {
		z-index: 300;
	}
}
